* {
  box-sizing: border-box;
}

body{
  @import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Poppins:ital,wght@0,100;0,200;1,400;1,500&display=swap');
  margin: 30px 70px;  
  font-family: 'Beau Rivage', cursive;
  font-family: 'Poppins', sans-serif;
}

header{
  background-color: rgb(70, 64, 92);
  padding: 20px;
  text-align: center;
  font-size: 35px;
  font-style: italic;
  color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

section{
  display: flex;
  clear: both;
  background: white;
  width: 100%;
  
}

nav {  
  float: left;
  width: 30%;
  background: white;
  display: flex;
}

ul{
  display: flex;
}
li a {
  display: block;
  
}
ul li{
  list-style: none;
}

a:link {
  text-decoration: none;
}

article{
  background-color: white;
  float: left;
  width: 70%;  
}

.two{
  
  margin: 30px;
  margin-top: 50px;  
}

footer{    
  height: 70px;  
  text-align: center;
  align-items:center;  
  color: rgb(205, 199, 199);
  background-color: rgb(92, 61, 61);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media only screen and (max-width:600px) {
  
  header nav article {
    width: 100%;
  }
  ul {
    display: block;
  }
}